<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>Supersell</title>
    <style>
      @media screen and (max-width: 600px) {
        .content {
          width: 100% !important;
          display: block !important;
          padding: 10px !important;
        }

        .header,
        .body,
        .footer {
          font-family: 'Geologica', Arial, sans-serif;
          padding: 20px !important;
        }
      }
    </style>
  </head>
  <body style="font-family: 'Geologica', Arial, sans-serif">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" style="padding: 20px">
          <table
            class="content"
            width="600"
            border="0"
            cellspacing="0"
            cellpadding="0"
            style="border-collapse: collapse; border: 1px solid #cccccc"
          >
            <!-- Header -->
            <tr>
              <td
                class="header"
                style="
                  background-color: #403dfe;
                  text-align: center;
                  color: white;
                  font-size: 24px;
                  font-weight: 400;
                  letter-spacing: 3px;
                  padding-top: 22px;
                "
              >
                <h3>Supersell</h3>
              </td>
            </tr>

            <!-- Body -->
            <tr>
              <td
                class="body"
                style="
                  padding: 20px;
                  text-align: left;
                  font-size: 16px;
                  line-height: 1.6;
                "
              >
                Hello, <%= customer_name %>! <br />
                <br />
                We noticed that your order #<%= order_id %> is awaiting payment.
                To proceed with your purchase, please complete the payment as
                soon as possible.
              </td>
            </tr>

            <tr>
              <td
                style="
                  padding: 0px 20px 0px 20px;
                  text-align: center;
                  padding-bottom: 25px;
                "
              >
                <table cellspacing="0" cellpadding="0" style="margin: auto">
                  <tr>
                    <td
                      align="center"
                      style="
                        background-color: #403dfe;
                        padding: 10px 20px;
                        border-radius: 5px;
                      "
                    >
                      <a
                        href="#"
                        style="
                          color: #ffffff;
                          text-decoration: none;
                          font-weight: bold;
                        "
                        >Complete Payment Now</a
                      >
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td
                style="
                  padding: 20px;
                  text-align: left;
                  font-size: 16px;
                  line-height: 1.6;
                "
              >
                If you have already made the payment, please ignore this
                message. Let us know if you need any assistance!
                <br />
                <br />
                Best regards,
                <br />
                <b>Supersell Team</b>
              </td>
            </tr>

            <!-- Footer -->
            <tr>
              <td
                class="footer"
                style="
                  background-color: #545454;
                  padding: 20px;
                  text-align: center;
                  color: white;
                  font-size: 14px;
                "
              >
                <p>Supersell &copy; 2025 | by Augusto Souza</p>
                <a
                  href="https://github.com/augustojs1"
                  style="color: white; font-size: 12px"
                  >https://github.com/augustojs1</a
                >
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
