<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SuperSell Email Template</title>

    <%- include('styles.ejs') %>
  </head>
  <body>
    <h3>Hello, <%= first_name %>!</h3>
    <p>Click the following URL to create a new password!</p>
    <br />
    <!-- <a href="http://localhost:8000/forgot-password?token=${data.reset_token}"> Redirect </a> -->
    <button
      role="link"
      href="http://localhost:8000/forgot-password?token=${data.reset_token}"
    >
      Redirect
    </button>
    <br />
    <br />
    <span>Att. Supersell Team inc.</span>
  </body>
</html>
